<div class="container-fluid animated fadeIn">
  <!-- Tool bar -->
  <div class="row mg10t">
    <div class="col-xs-12">
      <div class="form-group text-right">
        <button ng-show="vm.isChecking" class="btn btn-danger" ng-click="vm.handleStopCheck()">終了</button>
        <button ng-hide="vm.isChecking" class="btn btn-success" ng-click="vm.handleStartCheck()">開始</button>
        <button class="btn btn-primary" ng-click="vm.handleResetCheck()">リセット</button>
        <button class="btn btn-default" ui-sref="combos.list">セット一覧へ</button>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Scan form -->
    <div class="col-xs-12" ng-show="vm.isChecking">
      <div class="well">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <form name="vm.form.inputForm" ng-submit="vm.handleInputCode(vm.form.inputForm.$valid)" novalidate>
              <div class="form-group mgn" show-errors>
                <div class="input-group">
                  <input focus-me="true" id="qr_code" name="qr_code" type="text" class="form-control" ng-model="vm.qr_code" placeholder="2次元コード入力"
                    required>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-success">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
                <div ng-messages="vm.form.inputForm.qr_code.$error" role="alert">
                  <p class="help-block error-text font-sm" ng-message="required">2次元コードを入力してください！</p>
                </div>
              </div>
              <div class="form-group mgn mg10t" ng-show="vm.check.dirty">
                <div class="combo-check-result">
                  <div class="check-mark">
                    <img ng-show="vm.check.checking" src="./modules/combos/client/img/box.png">
                    <div class="loading" ng-show="vm.check.checking">
                      <i class="fa fa-search"></i>
                    </div>
                    <div ng-hide="vm.check.checking" ng-switch="vm.check.result">
                      <img ng-switch-when="1" src="./modules/combos/client/img/success.png">
                      <img ng-switch-when="2" src="./modules/combos/client/img/duplicate.png">
                      <img ng-switch-default src="./modules/combos/client/img/fail.png">
                    </div>
                  </div>
                  <div class="check-message">
                    <p>{{vm.check.message}}</p>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="bg-danger">
                  <tr>
                    <th class="text-center">セット名</th>
                    <th class="text-center">確認済</th>
                    <th class="text-center">未確認</th>
                    <th class="text-center">セット外</th>
                    <th class="text-center">重複</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">
                      <strong class="font-lg">{{ vm.combo.name }}</strong>
                    </td>
                    <td class="text-center">
                      <strong class="font-lg text-primary">{{ vm.check.checkedProducts.length }}</strong>
                    </td>
                    <td class="text-center">
                      <strong class="font-lg text-danger">{{ vm.check.uncheckProducts.length }}</strong>
                    </td>
                    <td class="text-center">
                      <strong class="font-lg">{{ vm.check.wrongSetProducts.length }}</strong>
                    </td>
                    <td class="text-center">
                      <strong class="font-lg text-warning" text-warning>{{ vm.check.duplicateProducts.length }}</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
            <form name="vm.form.inputForm" ng-submit="vm.handleInputCode(vm.form.inputForm.$valid)" novalidate>
              <div class="form-group mgn" show-errors>
                <div class="input-group">
                  <input focus-me="true" id="qr_code" name="qr_code" type="text" class="form-control" ng-model="vm.qr_code" placeholder="2次元コード入力"
                    required>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-success">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
                <div ng-messages="vm.form.inputForm.qr_code.$error" role="alert">
                  <p class="help-block error-text font-sm" ng-message="required">2次元コードを入力してください！</p>
                </div>
              </div>
              <div class="form-group mgn mg10t" ng-show="vm.check.dirty">
                <div class="combo-check-result">
                  <div class="check-mark">
                    <img ng-show="vm.check.checking" src="./modules/combos/client/img/box.png">
                    <div class="loading" ng-show="vm.check.checking">
                      <i class="fa fa-search"></i>
                    </div>
                    <div ng-hide="vm.check.checking" ng-switch="vm.check.result">
                      <img ng-switch-when="1" src="./modules/combos/client/img/success.png">
                      <img ng-switch-when="2" src="./modules/combos/client/img/duplicate.png">
                      <img ng-switch-default src="./modules/combos/client/img/fail.png">
                    </div>
                  </div>
                  <div class="check-message">
                    <p>{{vm.check.message}}</p>
                  </div>
                </div>
              </div>
            </form>
          </div> -->
        </div>
      </div>
    </div>
    <!-- Info report -->
    <!-- <div class="col-xs-12" ng-show="vm.isChecking">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="bg-danger">
            <tr>
              <th class="text-center">セット名</th>
              <th class="text-center">確認済</th>
              <th class="text-center">未確認</th>
              <th class="text-center">セット外</th>
              <th class="text-center">重複</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">
                <strong class="font-lg">{{ vm.combo.name }}</strong>
              </td>
              <td class="text-center">
                <strong class="font-lg text-primary">{{ vm.check.checkedProducts.length }}</strong>
              </td>
              <td class="text-center">
                <strong class="font-lg text-danger">{{ vm.check.uncheckProducts.length }}</strong>
              </td>
              <td class="text-center">
                <strong class="font-lg">{{ vm.check.wrongSetProducts.length }}</strong>
              </td>
              <td class="text-center">
                <strong class="font-lg text-warning" text-warning>{{ vm.check.duplicateProducts.length }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
    <!-- Product list -->
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="bg-primary">
            <tr>
              <th class="text-center">結果</th>
              <th class="text-center">写真</th>
              <th>ブランド</th>
              <th>名称</th>
              <th>型番</th>
              <th>ロット番号</th>
              <th>２次元コード</th>
              <th>導入年月日</th>
              <th>交換日</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="vm.combo.products.length === 0">
              <td colspan="9">製品が登録されていません！</td>
            </tr>
            <tr ng-repeat="product in vm.combo.products track by $index | orderBy: '-result'">
              <td class="text-center" ng-switch="product.result">
                <img class="product-result" ng-switch-when="1" src="./modules/combos/client/img/success.png">
                <img class="product-result" ng-switch-when="2" src="./modules/combos/client/img/fail.png">
                <img class="product-result" ng-switch-when="3" src="./modules/combos/client/img/duplicate.png">
              </td>
              <td class="text-center">
                <a ng-click="handleShowImage(product.image)">
                  <img class="product-thumbnail" src="{{product.image}}">
                </a>
              </td>
              <td>{{ product.brand }}</td>
              <td>
                <a ng-click="vm.handleShowProduct(product)">{{ product.name }}</a>
              </td>
              <td>{{ product.model_number }}</td>
              <td>{{ product.lot_number }}</td>
              <td>{{ product.qr_code }}</td>
              <td>
                <span ng-if="product.intro_date">{{ product.intro_date | LL }}</span>
              </td>
              <td>
                <span ng-if="product.exchange_date">{{ product.exchange_date | LL }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-12">
      <p class="mgn">
        <img class="product-icon" src="./modules/combos/client/img/success.png">
        <span>確認された製品</span>
        <img class="product-icon mg10l" src="./modules/combos/client/img/fail.png">
        <span>確認されていない製品</span>
        <img class="product-icon mg10l" src="./modules/combos/client/img/duplicate.png">
        <span>重複した製品</span>
      </p>
      <!-- <div class="well">
        <p class="mgn">
          <img class="product-icon" src="./modules/combos/client/img/success.png">
          <span>確認された製品</span>
        </p>
        <p class="mgn">
          <img class="product-icon" src="./modules/combos/client/img/fail.png">
          <span>確認されていない製品</span>
        </p>
        <p class="mgn">
          <img class="product-icon" src="./modules/combos/client/img/duplicate.png">
          <span>重複した製品</span>
        </p>
      </div> -->
    </div>
  </div>
</div>

<!-- <script type="text/ng-template" id="productViewTemplate.html"> -->
  <div class="product-view">
    <div class="product-view-image">
      <img class="img-responsive" src="{{ product.image }}">
    </div>
    <div class="product-view-info">
      <h4>{{ product.name }}</h4>
      <p>
        <strong>ブランド：</strong>
        <span>{{ product.brand }}</span>
      </p>
      <p>
        <strong>型番：</strong>
        <span>{{ product.model_number }}</span>
      </p>
      <p>
        <strong>ロット番号：</strong>
        <span>{{ product.lot_number }}</span>
      </p>
      <p>
        <strong>二次元コード：</strong>
        <span>{{ product.qr_code }}</span>
      </p>
      <p>
        <strong>導入年月日：</strong>
        <span ng-if="product.intro_date">{{ product.intro_date | LL }}</span>
      </p>
      <p>
        <strong>交換日：</strong>
        <span ng-if="product.exchange_date">{{ product.exchange_date | LL }}</span>
      </p>
    </div>
  </div>
</script>