<div class="container-fluid animated fadeIn" nv-file-drop uploader="vm.uploader">
  <div class="d-sm-down-none h80"></div>

  <div class="row mg20t">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="well">
        <h3>セット定義</h3>
        <div class="combo-form">
          <div class="combo-form-image" nv-file-over uploader="vm.uploader">
            <img class="combo-form-image" src="{{ vm.imageUrl }}">
            <button class="btn btn-primary btn-sm btn-upload-file">
              <i class="fa fa-cloud-upload"></i> アップロード
              <input type="file" nv-file-select uploader="vm.uploader" style="display: hidden;">
            </button>
          </div>
          <div class="combo-form-info">
            <form name="vm.form.comboForm" ng-submit="vm.handleStartSaveCombo(vm.form.comboForm.$valid)" novalidate>
              <div class="form-group" show-errors>
                <label for="name">名称</label>
                <input name="name" type="text" ng-model="vm.combo.name" id="name" class="form-control" placeholder="名称" required>
                <div ng-messages="vm.form.comboForm.name.$error" role="alert">
                  <p class="help-block error-text font-sm" ng-message="required">名称は必須です。</p>
                </div>
              </div>
              <div class="form-group">
                <label for="color_code">カラー</label>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle btn-block" type="button" data-toggle="dropdown" style="text-align: left;">
                    <span ng-show="!vm.combo.color">カラー選択</span>
                    <span ng-show="vm.combo.color">
                      <span class="label mg5r" ng-style="{ 'background-color': vm.combo.color.color }">　　</span>
                      <span>{{vm.combo.color.code}}</span>
                      <span>({{vm.combo.color.name}})</span>
                    </span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li class="h30" ng-show="vm.combo.color._id">
                      <a href="#" ng-click="vm.handleSelectColor()">
                        <span class="label mg5r">　　</span>なし</a>
                    </li>
                    <li class="h30" ng-repeat="color in vm.colors" ng-show="!color.combo">
                      <a href="#" ng-click="vm.handleSelectColor(color)">
                        <span class="label mg5r" ng-style="{ 'background-color': color.color }">　　</span>
                        <span>{{color.code}}</span>
                        <span>({{color.name}})</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <label for="qr_code">QRコード</label>
                <input name="qr_code" type="text" ng-model="vm.combo.qr_code" class="form-control" placeholder="QRコード">
              </div>
              <div class="form-group">
                <label for="author">担当者</label>
                <input name="author" type="text" ng-model="vm.combo.author" class="form-control" placeholder="担当者">
              </div>
              <div class="form-group">
                <label for="datetime">年月日</label>
                <input name="datetime" type="date" ng-model="vm.combo.datetime" class="form-control" placeholder="年月日">
              </div>
              <div class="form-group">
                <label for="sterilize_date">減菌年月日</label>
                <input name="sterilize_date" type="date" ng-model="vm.combo.sterilize_date" class="form-control" placeholder="減菌年月日">
              </div>
              <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">
                  <i ng-show="vm.busy" class="fa fa-spinner fa-pulse fa-fw"></i> 保存</button>
                <button type="button" class="btn btn-default" ng-click="vm.handleCancelInput()">キャンセル</button>
                <button type="button" class="btn btn-danger" ng-if="vm.combo._id" ng-click="vm.handleDeleteCombo()">削除</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <div class="well" ng-if="vm.combo._id">
        <h3>製品</h3>
        <p class="text-muted" ng-if="vm.combo.products.length === 0">製品が追加されていません！</p>
        <div class="product-item-block mg6x" ng-repeat="product in vm.combo.products">
          <div class="product-basic-info">
            <div class="product-avatar">
              <img src="{{:: product.image }}">
            </div>
            <div class="product-info">
              <span class="product-info-name">{{:: product.name}}</span>
              <span class="font-sm">{{::product.author}}</span>
            </div>
            <div class="product-action">
              <a class="product-options">
                <i class="fa fa-product-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group text-right">
          <button class="btn btn-primary" ng-click="vm.handleCancelInput()">追加</button>
        </div>
      </div>
    </div> -->
  </div>
</div>