<section>
  <div class="page-header">
    <h1>Combos</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="combo in vm.combos"
       ui-sref="combos.view({ comboId: combo._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="combo.created | date:'mediumDate'"></span>
        by
        <span ng-if="combo.user" ng-bind="combo.user.displayName"></span>
        <span ng-if="!combo.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="combo.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.combos.$resolved && !vm.combos.length">
    No Combos yet, why don't you <a ui-sref="combos.create">create one</a>?
  </div>
</section>
