<div class="container-fluid animated fadeIn">
  <div class="d-sm-down-none h80"></div>

  <div class="row mg20t">
    <div class="col-xs-12">
      <div class="well">
        <h3 class="mgn mg10b">{{vm.combo.name}}</h3>
        <div class="combo-view">
          <div class="combo-view-image">
            <a ng-click="handleShowImage(vm.combo.image)">
              <img src="{{ vm.combo.image }}">
            </a>
          </div>
          <div class="combo-view-info">
            <table class="table">
              <tr>
                <td>
                  <strong>カラー：</strong>
                </td>
                <td class="text-right">
                  {{ vm.combo.color.name }}
                  <span class="label mg5l" ng-style="{ 'background-color': vm.combo.color.color }">　　</span>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>QRコード：</strong>
                </td>
                <td class="text-right">{{ vm.combo.qr_code }}</td>
              </tr>
              <tr>
                <td>
                  <strong>担当者：</strong>
                </td>
                <td class="text-right">{{ vm.combo.author }}</td>
              </tr>
              <tr>
                <td>
                  <strong>減菌年月日：</strong>
                </td>
                <td class="text-right">
                  <span ng-if="vm.combo.datetime">{{ vm.combo.sterilize_date | LL }}</span>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>年月日：</strong>
                </td>
                <td class="text-right">
                  <span ng-if="vm.combo.datetime">{{ vm.combo.datetime | LL }}</span>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="text-right">
                  <a class="btn btn-info" ui-sref="combos.edit({ comboId: vm.combo._id })">編集</a>
                  <button type="button" class="btn btn-danger" ng-click="vm.handleDeleteCombo()">削除</button>
                  <a class="btn btn-primary" ui-sref="combos.check({ comboId: vm.combo._id })">検査</a>
                  <a class="btn btn-success" ng-click="vm.handleCopyCombo()">コピー</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="well">
        <h3 class="mgn mg5b">製品一覧</h3>
        <div class="form-group text-right">
          <button class="btn btn-primary" ng-click="vm.handleStartSearchProduct()">追加</button>
          <button class="btn btn-danger" ng-click="vm.handleClearProduct()">クリア</button>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="bg-primary">
              <tr>
                <th class="text-center">写真</th>
                <th>ブランド</th>
                <th>名称</th>
                <th>型番</th>
                <th>ロット番号</th>
                <th>導入年月日</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="vm.combo.products.length === 0">
                <td colspan="6">製品が追加されていません！</td>
              </tr>
              <tr ng-repeat="product in vm.combo.products track by $index">
                <td class="text-center">
                  <a ng-click="handleShowImage(product.image)">
                    <img class="product-thumbnail" src="{{product.image}}">
                  </a>
                </td>
                <td>{{ product.brand }}</td>
                <td>
                  <a ng-click="vm.handleShowProduct(product)">{{ product.name }}</a>
                </td>
                <td>{{ product.model_number }}</td>
                <td>{{ product.lot_number }}</td>
                <td>
                  <span ng-if="product.intro_date">{{ product.intro_date | LL }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- <div class="col-xs-12">
      <div class="well" ng-if="vm.combo._id">
        <h3>製品一覧</h3>
        <p class="text-muted" ng-if="vm.combo.products.length === 0">製品が追加されていません！</p>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" ng-repeat="product in vm.combo.products">
            <div class="product-item-block">
              <div class="product-basic-info">
                <div class="product-avatar">
                  <img src="{{:: product.image }}">
                </div>
                <div class="product-info">
                  <a ui-sref="products.view({ productId: product._id })">
                    <span class="product-info-name">{{:: product.name}}</span>
                  </a>
                  <span class="font-sm">{{::product.brand}}</span>
                </div>
                <div class="product-action">
                  <a class="product-options" ng-click="vm.handleRemoveProductFromCombo(product)">
                    <i class="fa fa-close"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group text-right">
          <button class="btn btn-primary" ng-click="vm.handleStartSearchProduct()">追加</button>
          <button class="btn btn-danger" ng-click="vm.handleClearProduct()">クリア</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div> -->
  </div>
</div>
<div class="d-sm-down-none h600"></div>
<div class="combo-left-aside">
  <h3>製品検索</h3>
  <div class="form-group">
    <input class="form-control" ng-model="vm.searchKey" ng-change="vm.handleSearchChanged()" placeholder="検索キーワード" focus-me="true">
  </div>
  <div class="form-group" ng-show="vm.isSearching">
    <i class="fa fa-spinner fa-pulse fa-fw"></i>
  </div>
  <div class="product-list">
    <div class="product-item-block mg6x" ng-repeat="product in vm.searchResult">
      <div class="product-basic-info">
        <div class="product-avatar">
          <img src="{{ product.image }}">
        </div>
        <div class="product-info">
          <span class="product-info-name">{{ product.name}}</span>
          <span class="font-sm">{{ product.brand }}</span>
        </div>
        <div class="product-action">
          <a class="product-options" ng-click="vm.handleAddProductToCombo(product)">
            <i class="fa fa-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group mg12t">
    <button class="btn btn-primary btn-sm pull-right mg10r" ng-click="vm.handleEndSearchProduct()">閉じる</button>
    <div class="clearfix"></div>
  </div>
  <button class="combo-left-aside-close" aria-label="Dismis"></button>
</div>