<aside class="aside-menu" id="aside-menu" ng-controller="HeaderController">
  <nav class="aside-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="home"><i class="fa fa-newspaper-o"></i> ホーム</a>
      </li>
      <li class="nav-title">ナビゲーション</li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="combos.list">セット一覧</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="combos.create">セット作成</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="products.list">製品一覧</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="products.create">製品登録</a>
      </li>
    </ul>
  </nav>
</aside>