<div class="container-fluid animated fadeIn" ng-controller="HomeController">
  <div class="row d-sm-none d-xs-none mg100t">
    <div class="col-md-2 col-md-offset-2">
      <div class="well"></div>
    </div>
    <div class="col-md-2 col-md-offset-6">
      <div class="well"></div>
    </div>
    <div class="col-md-2 col-md-offset-8">
      <div class="well"></div>
    </div>
  </div>
  <div class="row d-md-none d-xs-none mg100t">
    <div class="col-sm-4">
      <div class="well"></div>
    </div>
    <div class="col-sm-4">
      <div class="well"></div>
    </div>
    <div class="col-sm-4">
      <div class="well"></div>
    </div>
  </div>

  <div class="row d-md-none d-sm-none mg100t">
    <div class="col-xs-12">
      <div class="well"></div>
    </div>
    <div class="col-xs-12">
      <div class="well"></div>
    </div>
    <div class="col-xs-12">
      <div class="well"></div>
    </div>
  </div>

</div>