.combo-left-aside {
  position: absolute;
  left: -320px;
  top: 0;
  bottom: 0;
  width: 320px;
  z-index: 3;
  padding: 0 12px;
  background-color:#e7e7e7;
  transition-duration: .25s,.25s;
  transition-property: left, right;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }
  .open-combo-left-aside .combo-left-aside {
    left: 0; }
  .combo-left-aside .combo-left-aside-close {
    position: absolute;
    border: none;
    cursor: pointer;
    background: 0 0;
    right: 0;
    top: 0; }
  .combo-left-aside .combo-left-aside-close::before {
    display: block;
    padding: 3px;
    background: 0 0;
    color: #bbb;
    content: '\00D7';
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    text-align: center; }
.combo-check-result {
  display: flex;
  flex-direction: row; }
  .combo-check-result .check-mark {
    position: relative;
    width: 50px;
    height: 50px; }
    .combo-check-result .check-mark img {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      transition: display 0s, opacity 0.5s linear; }
    .combo-check-result .check-mark .loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      font-size: 18px;
      color: blue;
      animation: circle 5s linear infinite;
      transform-origin: 50% 20px; }
      .combo-check-result .check-mark .loading i {
        animation: inner-circle 5s linear infinite; }
  .combo-check-result .check-message {
    margin-left: 5px;
    flex-grow: 1; }

@keyframes circle {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}
  
@keyframes inner-circle {
  from { transform:rotate(0deg); }
  to { transform:rotate(-360deg); }
}

.combo-form {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .combo-form .combo-form-image {
    width: 300px;
    height: 300px;
    border: 2px dashed lightgray; }
  .combo-form .combo-form-image {
    flex-grow: 1;}