<div class="container-fluid animated fadeIn">
  <!-- Tool tìm kiếm -->
  <div class="row" id="rests-review-tools">
    <div class="col-xs-12">
      <!-- 検索ツール -->
      <accordion close-others="true" ng-init="openTools = false;">
        <accordion-group is-open="openTools">
          <accordion-heading>
            <i class="fa fa-arrow-circle-down" ng-class="{'fa-rotate-180': openTools}"></i> 検索ツール
          </accordion-heading>
          <div class="form-group">
            <div class="col-sm-6">
              <label for="key">検索キー</label>
              <input name="key" type="text" ng-model="vm.condition.key" class="form-control" placeholder="検索キー">
            </div>
            <div class="col-sm-6">
              <label for="limit">表示件数</label>
              <input name="limit" type="number" ng-model="vm.condition.limit" class="form-control">
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 text-right">
              <button class="btn btn-sm btn-danger" ng-click="vm.handleClearCondition()">クリア</button>
              <button class="btn btn-sm btn-primary" ng-click="vm.handleStartSearch()">検索</button>
            </div>
            <div class="clearfix"></div>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>

  <!-- Danh sách ngày nghỉ -->
  <div class="row">
    <div class="col-xs-12">
      <!-- 休暇一覧 -->
      <table class="table table-bordered">
        <thead class="bg-primary">
          <tr>
            <th>写真</th>
            <th>ブランド</th>
            <th>名称</th>
            <th>型番</th>
            <th>ロット番号</th>
            <th>２次元コード</th>
            <th>導入年月日</th>
            <th>交換日</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="vm.products.length === 0">
            <td colspan="8">データが見つかりません。</td>
          </tr>
          <tr ng-repeat="product in vm.products track by $index">
            <td>
              <a ui-sref="products.views({ productId: product._id })">
                <img class="img-rounded img-responsive product-thumbnail" src="{{product.image}}">
              </a>
            </td>
            <td>
              <a ui-sref="products.views({ productId: product._id })">{{ product.brand }}</a>
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.model_number }}</td>
            <td>{{ product.lot_number }}</td>
            <td>{{ product.qr_code }}</td>
            <td>{{ product.intro_date | LL }}</td>
            <td>{{ product.exchange_date | LL }}</td>
          </tr>
        </tbody>
      </table>
      <!-- Pagination -->
      <ul class="pagination mg10y" ng-show="vm.pages.length > 1">
        <li ng-repeat="page in vm.pages" ng-class="{'active': page === vm.page}">
          <a ng-click="vm.handlePageChanged(page)">{{page}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>