.ng-hide.ng-hide-animate {
  display: none !important;
}
.image-view {
  max-width: 100%; }
  .image-view img {
    display:block;
    width: auto;
    height: auto;
    margin:auto; }

.ngdialog-custom {
  padding-top: 50px !important;
  padding-bottom: 0 !important;}