.ng-hide.ng-hide-animate {
  display: none !important;
}
.image-view {
  max-width: 100%; }
  .image-view img {
    display:block;
    width: 100%;
    height: auto;
    margin:auto; }

    .ngdialog.ngdialog-theme-default {
      /* padding-bottom: 160px; */
      /* padding-top: 160px; */
  }
.ngdialog-image {
  padding-top: 50px !important;
  padding-bottom: 0px !important;}